.App-header{
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  gap: 10px;
  margin-top: 50px;
}
#navbarSupportedContent{
  margin-left: 70%;
}
.main-btn,.form-photo{
  width: 100%;
  text-align: center;
  padding: auto;

}
.modal-title{
  text-align: center;
}
.modal-header{
  display: flex;
  flex-direction: column;
}

.paper-form{
    background-color: white;    
    max-width: 1000px; 
    min-height: 80vh;
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 3px 3px 9px rgba(0,0,0,.3);
  }
  
  .fill-form{
    margin-top: .125rem;
    border-top: solid 1px black;
    border-left: solid 1px black;
  }
  
  .section-title{
    font-size: 1.05rem;
    background-color: black;
    color: white;
    padding: .125rem 0;
    text-align: center;
    font-weight: 400;  
    letter-spacing: .5px;
  }
  
  .section-subtitle{
    padding-top:1rem;
    /* padding-left:0.5rem; */
    font-size: 1rem;
    text-align: left;
  }
  
  .form-check{
     font-family: serif;
  }
  
  .form-row{  
    display: flex;
    justify-content: space-evenly;
  }
  
  .form-input{
    
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: .5rem;
    flex: 1 1 0px;
  }
  
  .form-input--text{ 
    display: flex;  
    flex-direction:column;  
    width: 10%;
  }
  
  .form-input label{
    font-size: .9em;
    font-family: serif;
    line-height: 1.5em;
  }
  
  .form-input--text input, .form-input select, input[type=date]{
    padding: .5rem;
    border: none;
    background-color: #eee;
  }
  
  .grow-2{
    flex: 2 2 0;
  }
  
  .footer-btns{
    display: flex;
    gap: 10px;
  }

  .btn-sm{
     width: 5rem;
     margin-top: 10px;
  }
  .photo1{
    margin-top: 20px;
    height: 20rem;
  }

  .photo{
    width: 50px;
    height: 50px;
  }
